nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.material-icons reorder
    a.navbar-brand(href='/')
        i.material-icons bookmark_border
        | Bookworm
    div.collapse.navbar-collapse(id='navbarSupportedContent')
        div.navbar-nav.mr-auto
            a.nav-item.nav-link.active(href='register') Sign Up
                span.sr-only
            a.nav-item.nav-link(href='about') About
                span.sr-only
            a.nav-item.nav-link(href='contact') Contact
            a.nav-item.nav-link(href='profile') My Profile