extends layout
block content
    .row
        .col-6.offset-3
            div.persona-container                
                h1 
                   i.material-icons.md-36 account_circle
                   |  #{name}
            div.favorite-book
                h2
                    i.material-icons.md-36 chrome_reader_mode
                    |  Favorite book
                p.text-normal.offset-1 #{favorite}