extends layout
block content
    .row
        .col.offset-3
            div.persona-container
                i.material-icons.md-36 account_circle
                span.font-36 #{name}
            div.favorite-book
                i.material-icons.md-36 chrome_reader_mode
                span.font-36 #{favorite}